@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Pixelify Sans", sans-serif;
    background: url(../storage/img/fondo.png);
    background-repeat: no-repeat;
    background-size:100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.weather-content > *{
    height: 30vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #ffffff5b;
}

.content-buscador{
    gap: 3vw;
}

.weather-content  h1{
    font-size: 4vw;
    text-shadow: 
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

form > input, select{
    font-family: "Pixelify Sans", sans-serif;
    border-radius: 10px;
    height: 2vw;
    border: 0;
    font-size: 1.5vw;
}

form  button{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5vw;
    border-radius: 10px;
    border: 5px solid white;
    color: var(--color--one);
    background-color: var(--color--two);
}

form  button:hover{
    background-color: var(--color--three);
    cursor: pointer;
    transition: .2s;
}

.content-result{
    text-align: center
}

.content-result div{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.content-result h5{
    font-size: 3.5vw;
    color: black;
     text-shadow: 
     -1px -1px 0 white,
      1px -1px 0 white,
     -1px  1px 0 white,
      1px  1px 0 white;
}

.content-result h2, p{
    font-size: 2.5vw;
    color: white;
    text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.content-imagen img{
    width:40%;
}
